/* App.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
}

.app-container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 50%;
  display: flex;
  justify-content: center;  /* Horizontal center */
  align-items: center;  /* Vertical center */
  padding: 1rem;
  box-sizing: border-box;
}

.right-panel {
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
}
